PAYLOAD_SECRET=
DATABASE_URI=

HEALTH_CHECK_URL=
HEALING_LOG_FILE=
FRONTEND_CONTAINER_PREFIX=
NGINX_CONTAINER_NAME=

# NEXT_PUBLIC_GA_ID=

RESEND_API_KEY=re_YOUR_KEY_HERE

NEXT_PUBLIC_POSTHOG_TOKEN=
NEXT_PUBLIC_POSTHOG_KEY

RESEND_API_KEY=

