services:
  frontend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dependencies
    command: pnpm dev
    networks:
      - app-network
    env_file:
      - ../.env
    environment:
      DATABASE_URI: ${DATABASE_URI}
      PAYLOAD_SECRET: ${PAYLOAD_SECRET}
    ports:
      - "3000:3000"
    volumes:
      - ../:/app
      - /app/node_modules

  mongo:
    image: mongo:latest
    container_name: clinic-mongo-dev
    ports:
      - "27017:27017"
    volumes:
      - mongo-data-dev:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data-dev:
