services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    env_file:
      - .env
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ../nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
      - /var/log/nginx:/var/log/nginx
    depends_on:
      - frontend

volumes:
  postgres_prod_data:
  static_volume:
  media_volume:
