services:
  frontend:
    build:
      context: ../
      dockerfile: Dockerfile
      target: runner
    env_file:
      - ../.env
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1
    expose:
      - "3000"

  nginx:
    image: nginx:latest
    volumes:
      - ../nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - frontend
