services:
  frontend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: development
    networks:
      - app-network
    env_file:
      - ../.env
    ports:
      - "3000:3000"
    entrypoint: [ "sh", "entrypoint-test.sh" ]

networks:
  app-network:
    driver: bridge
