services:
  frontend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dependencies
    command: pnpm dev
    networks:
      - app-network
    env_file:
      - ../.env
    ports:
      - "3000:3000"
    volumes:
      - ../:/app
      - /app/node_modules

networks:
  app-network:
    driver: bridge
