services:
  frontend:
    build:
      context: ../
      dockerfile: Dockerfile
      target: production
    env_file:
      - ../.env
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    expose:
      - "80"
    depends_on:
      - frontend

volumes:
  postgres_prod_data:
  static_volume:
  media_volume:
