services:
  frontend:
    build:
      context: ..
      dockerfile: Dockerfile
      target: runner
    networks:
      - app-network
    env_file:
      - ../.env
    ports:
      - "3000:3000"
    volumes:
      - ./:/app

networks:
  app-network:
    driver: bridge
