services:
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
      target: production
    env_file:
      - ../.env
    environment:
      NODE_ENV: production
      NEXT_TELEMETRY_DISABLED: 1

  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ../nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/static
      - media_volume:/app/media
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot
      - /var/log/nginx:/var/log/nginx
    depends_on:
      - backend
      - frontend

  certbot:
    image: certbot/certbot
    volumes:
      - certbot_conf:/etc/letsencrypt
      - certbot_www:/var/www/certbot

volumes:
  postgres_prod_data:
  static_volume:
  media_volume:
  certbot_conf:
  certbot_www:
